<div class="container">
	<app-header></app-header>
	<section>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <app-video></app-video>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <app-activity></app-activity>
      </div>
    </div>
	</section>
  <br>
	<section>
    <div class="row">  
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
       <app-people> </app-people>
       <app-document> </app-document>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <app-channels></app-channels>
      </div>
    </div>  
		<br/>
		<br/>
	</section>
  <section>
    <div class="row">
      <hr class="hr-style">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-footer></app-footer>
      </div>
    </div>  
  </section>
</div>