<div class="white-text font-title">Videos</div>
<div class="pull-right white-text"> Browse All Channels</div>
<div class="row-fluid">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-pad">
			<div class="box-big">{{video_1}}</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-pad">
			<div class="box-small">{{video_2}}</div>
			<div class="box-small" style="margin-top:3px;">{{video_3}}</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-pad">
			<div class="box-small" style="margin-top:-3px;">{{video_4}}</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-pad">
			<div class="box-small" style="margin-top:-3px;">{{video_5}}</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-pad">
			<div class="box-small-dif" style="margin-top:-3px;"></div>
		</div>

	</div>
</div>