<div class="white-text font-title">Document</div>
<div class="pull-right white-text"> Browse All Document</div>
<div class="row-fluid">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-pad">
			<div class="box-big"></div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-pad">
			<div class="box-small"></div>
			<div class="box-small" style="margin-top:3px;"></div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-pad">
			<div class="box-small" style="margin-top:-3px;"></div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-pad">
			<div class="box-small" style="margin-top:-3px;"></div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-pad">
			<div class="box-small-dif" style="margin-top:-3px;"></div>
		</div>

	</div>
</div>